/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    /*border: 1px solid red;*/
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/Myriad Pro Regular.ttf);
}

:root {
    --blueColor: #5eb4e7;
    --goldColor: #efc478;
    --blackColor: #4a4a4a;
    --whiteColor: #ffffff;
    --titleColor: #313131;
    --sectionBgColor: #f9f9f9;
    --ficonColor: #e4e4e4;
    --mainTransition: .3s;
}

/*font-family: 'Pacifico', cursive;*/

body {
    font-family: myFirstFont;
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--titleColor);
}

p {}

a {
    display: block;
    transition: var(--mainTransition);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1400px) {
    .container {
        width: 1170px;
    }
}

/*Start Header Section*/
.header {}

.header .container {}

.header .container .top-header {
    width: 100%;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--whiteColor);
}

.header .container .top-header .contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.header .container .top-header .contact-info .phone,
.header .container .top-header .contact-info .email {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .container .top-header .contact-info .email {
    margin-left: 16px;
}

.header .container .top-header .contact-info .phone i,
.header .container .top-header .contact-info .email i {
    color: var(--blueColor);
    font-size: 0.75rem;
}

.header .container .top-header .contact-info .phone p,
.header .container .top-header .contact-info .email p {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.header .container .top-header .social-media {
    display: flex;
    align-items: center;
}

.header .container .top-header .social-media li {
    margin-left: 21px;
}

.header .container .top-header .social-media li a {
    font-size: 1rem;
    color: var(--whiteColor);
    background-color: var(--blackColor);
    padding: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container .top-header .social-media li a:hover {
    background-color: var(--goldColor);
}

.header .container .top-header .social-media li a i {}

.header .navigation-bar {
    background-color: var(--blueColor);
    width: 100%;
    height: 64px;
    box-shadow: 0px 8px 5px 0px rgba(0 0 0 / 15%);
    position: relative;
}

.header .navigation-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navigation-bar .logo {
    font-family: 'Pacifico', cursive;
    color: var(--whiteColor);
    padding: 15px 0;
    font-size: 1.6rem;
    width: fit-content;
    width: -moz-fit-content;
}

.header .navigation-bar .menu-bar {
    display: flex;
    align-items: center;
}

.header .navigation-bar .menu-bar li {
    margin-left: 36px;
}

.header .navigation-bar .menu-bar li a {
    text-transform: uppercase;
    color: var(--whiteColor);
    padding: 10px 15px;
    font-size: 0.9rem;
    width: fit-content;
    width: -moz-fit-content;
}

.header .navigation-bar .menu-bar li a:hover,
.header .navigation-bar .menu-bar li a.active {
    background-color: var(--whiteColor);
    color: var(--blueColor);
    border-radius: 20px;
}

.header .toggle-menu {
    display: none;
    color: var(--whiteColor);
    cursor: pointer;
    font-size: 1.2rem;
}

.landing {
    background-color: var(--whiteColor);
    padding: 66px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.landing .container {
    
}

.landing .container h1{
    text-transform: uppercase;
    color: var(--blueColor);
    font-weight: 400;
    margin: auto;
    line-height: 1;
}

.landing .container h1 span {
    font-weight: bold;
}

.landing .container a{
    padding: 7px 23px;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    border: 3px solid var(--blueColor);
    color: var(--blueColor);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 3px;
}

.landing .container a:hover{
    background-color: var(--goldColor);
    color: var(--whiteColor);
    border-color: transparent;
}

.landing .container img{
    max-width: 100%;
}

@media(min-width: 992px) and (max-width: 1399px) {
    .header .navigation-bar .menu-bar li {
        margin-left: 19px;
    }

    .header .navigation-bar .menu-bar li a {
        padding: 5px;
    }
}

@media(max-width: 991px) {

    .header .navigation-bar .menu-bar {
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: -1000px;
        background-color: var(--blueColor);
        min-height: 100vh;
        width: 100%;
    }

    .header .navigation-bar .menu-bar li {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .header .toggle-menu {
        display: block;
    }

    .header .navigation-bar .menu-bar.active {
        left: 0;
    }
}

@media(max-width: 557px){
    .header .container .top-header{
        justify-content: center;
        height: 70px;
    }
    
    .header .container .top-header .social-media {
        margin-top: 10px;
    }
    
    .header .navigation-bar .logo {
        margin: auto;
    }
}

@media(max-width: 375px){
    .landing .container img{
        display: none;
    }
}
/*End Header Section*/