/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    /*border: 1px solid red;*/
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/Myriad Pro Regular.ttf);
}

:root {
    --blueColor: #5eb4e7;
    --goldColor: #efc478;
    --blackColor: #4a4a4a;
    --whiteColor: #ffffff;
    --titleColor: #313131;
    --sectionBgColor: #f9f9f9;
    --ficonColor: #e4e4e4;
    --mainTransition: .3s;
}

/*font-family: 'Pacifico', cursive;*/

body {
    font-family: myFirstFont;
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--titleColor);
}

p {}

a {
    display: block;
    transition: var(--mainTransition);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1400px) {
    .container {
        width: 1200px;
    }
}

/*Start Header Section*/
.header {}

.header .container {}

.header .container .top-header {
    width: 100%;
    height: 40px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--whiteColor);
}

.header .container .top-header .contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.header .container .top-header .contact-info .phone,
.header .container .top-header .contact-info .email {
    display: flex;
    gap: 5px;
}

.header .container .top-header .contact-info .email {
    margin-left: 15px;
}

.header .container .top-header .contact-info .phone i,
.header .container .top-header .contact-info .email i {
    color: var(--blueColor);
}

.header .container .top-header .contact-info .phone p,
.header .container .top-header .contact-info .email p {
    font-size: 0.8rem;
}

.header .container .top-header .social-media {
    display: flex;
    align-items: center;
}

.header .container .top-header .social-media li {
    margin-right: 22px;
}

.header .container .top-header .social-media li a {
    font-size: 1.3rem;
    color: var(--blackColor);
}

.header .container .top-header .social-media li a:hover {
    color: var(--goldColor);
}

.header .container .top-header .social-media li a i {}

/*End Header Section*/